//imports
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,400');
@import (inline)url(../css/additional/reset.css);
@import "layout/header";
@import "layout/home";
@import "layout/voyager";
@import "layout/drifter";
@import "layout/collection";
@import "layout/mask";
@import "layout/footer";
@import "layout/preloader";



.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 #292929;
  border-bottom: none;
  & .navigation__item {
    color: #000000;
  }
}
.slick-active .carousel__number {
  color:  #000000;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 26px 81px 0 rgba(0, 15, 26, 0.21);
  margin: 10px 0;
}
.slick-active .drifter__number {
  color:  #000000;
  font-size: 22px;
  font-weight: 400;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 26px 81px 0 rgba(0, 15, 26, 0.5);
  position: relative;
  &:before {
    position: absolute;
    content: '';
    height: 31px;
    width: 1px;
    background-color: #000000;
    top: -31px;
    left: 50%;
  }
}

//mixins
//body {
//  background-color: cornflowerblue;
//}
//code
//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;